@using CoreMvcTemplate.Entities
@using CoreMvcTemplate.Entities.Enums
@using CoreMvcTemplate.Helpers;
@using System;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    TempData["Title"] = "Slider";
}
@model List<Slider>

<div class="row p-4">
    <div class="col-xs-12">
        <div class="box">

            <div class="d-flex justify-content-between align-items-center width-full">
                <div class="p-2 d-flex justify-content-between align-items-center">
                    <div>
                        <h3 class="box-title">Slider </h3>
                    </div>

                </div>
                <div class="p-2">
                    <a asp-controller="AdminSlider" asp-action="Add" style="text-decoration: none;" class="btn btn-sm btn-success">Ekle</a>
                </div>
            </div>

            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["Error"]
                </div>
            }

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>Başlık</th>
                        <th>Oluşturma Tarihi</th>
                        <th>Durum</th>
                        <th>Görüntülenme Sırası</th>
                        <th>Düzenle</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title1</td>
                            <td>@item.CreatedAt</td>

                            @if (item.isActive)
                            {
                                <td><span class="text-success">Aktif</span></td>
                            }
                            else
                            {
                                <td><span class="text-danger">Pasif</span></td>
                            }
                            <td>@item.DisplayOrder</td>
                            <td>
                                <a asp-controller="AdminSlider" asp-action="Detail" asp-route-id="@item.Id" style="text-decoration: none;" class="btn btn-sm btn-primary">Düzenle</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>